{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Brinq</title>

    <link href="{% static "bootstrap-3.3.7/css/bootstrap.min.css" %}" rel="stylesheet">

    {% block custom-style %}
    <style>
        .main-content {
            max-width: 400px;
        }
        .control-row {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    </style>
    {% endblock %}
</head>
<body>
<div class="container main-content">
    <form id="report-form" method="post" action="">
        {% csrf_token %}
        <input style="display:none" id="latitude-input" name="latitude" />
        <input style="display:none" id="longitude-input" name="longitude" />

        <div class="row control-row">
            <div class="col-xs-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" name="help">
                        Help Someone
                    </button>
                </div>
            </div>
        </div>
        <div class="row control-row">
            <div class="col-xs-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" name="safety">
                        Safety
                    </button>
                </div>
            </div>
        </div>
        <div class="row control-row">
            <div class="col-xs-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" name="health">
                        Health
                    </button>
                </div>
            </div>
        </div>
    </form>

    {% if message %}
        <div class="row">
            <div class="col-xs-12">
                <p class="text-success">{{ message }}</p>
            </div>
        </div>
    {% endif %}
</div><!-- /.container -->

<script src="{% static "jquery-3.2.1.min.js" %}"></script>
<script src="{% static "bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>

<script>
    $(document).ready(function () {
        {# Prevent users from clicking buttons repeatedly #}
        $('.control-row form').submit(function (event) {
            var buttonElement = $(this).find('button');
            buttonElement.attr('disabled', 'disabled');
            buttonElement.text('Loading...');
            return true;
        });

        $("#report-form button[type=submit]").click(function () {
            $(this).attr("clicked", "true");
        });

        $('#report-form').submit(function (event) {
            event.preventDefault();
            navigator.geolocation.getCurrentPosition(savePosition);
            console.log(event.target);
            console.log(event.currentTarget);
            return false;
        });

        function savePosition(position) {
            console.log(position);
            $('#latitude-input').val(position.coords.latitude);
            $('#longitude-input').val(position.coords.longitude);
            $('#report-form').unbind('submit');
            $("button[type=submit][clicked=true]").click();
        }
    });
</script>

{% block post-scripts %}{% endblock %}

</body>
</html>
